.app {
  text-align: center;
  color: #333333;
}
.button {
  background: rgb(130, 224, 255);
  min-width: 100px;
  border: none;
  padding: 10px;
}
.input {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  padding: 10px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: solid;
  align-items: center;
}
.navlist {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.navlink {
  margin: 10px;
  text-decoration: none;
}

/* add other layout above */
@supports (display: grid) {
/* add grid css here */
}
