.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post {
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 90%;
  padding: 10px;
}
.post-left {
  padding: 5px;
  background-color: #f2f2f2;
  border-right-style: solid;
  border-right-color: grey;
  border-right-width: 2px;
  width: 300px;
}
.post-right {
  margin-left: 10px;
  text-align: left;
  width: 500px;
}
@media only screen and (min-width: 640px) {
  .post-left {
    width: auto;
    min-width: 300px;
  }
  .post-right {
    margin-left: 30px;
    width: auto;
    min-width: 200px;
    max-width: 90%;
  }
}
.post-date {
  color: grey;
}
.post-title {
  padding-left: 10px;
  box-shadow: 0px 5px 5px grey;
  font-size: 1em;
}
@media only screen and (min-width: 640px) {
  .post-title {
    font-size: 1.2em;
  }
}
