.chat-form {
  padding: 3px;
  margin-top: 10px;
  width: 100%;
}
.chat-from input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: .5%;
}
.chat-form button {
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}

.messages-container {
  max-width: 100vw;
  min-height: 60vh;
  max-height: 60vh;
  display: fixed;
  overflow: scroll;
}
.end {
  height: 20vh;
}
.messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.messages li {
  padding: 5px 10px;
}
.messages li:nth-child(odd) {
  background: #eee;
}
