.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-container {
  width: 100%;
  border: solid #DCDCDC;
  border-top: none;
  border-width: 7px;
  border-radius: 0 0 10px 10px;
}
.chat-form, .join-form {
  display: flex;
  flex-direction: column;
}
.join-form {
}
.messages-section {
  width: 100%;
}
.messages-container {
  width: 100%;
  border: solid #DCDCDC;
  border-width: 7px;
  border-radius: 10px 10px 0 0;
  background-color: #F7F7F7;
  min-height: 60vh;
  max-height: 60vh;
  display: fixed;
  overflow-y: scroll;
}
.end {
  height: 20vh;
}
.messages, .users {
  list-style-type: none;
  width: 100%;
}
.messages {
  font: 1em arial, sans-serif;
}
.announcement {
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 10px;
}
.message {
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
}
.user {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}
.usericon {
  width: 100%;
}
.username {
  word-wrap: break-word;
  margin-left: -10px;
  margin-right: -10px;
}
.chatbubble{
  display: flex;
  flex-direction: row;
  max-width: 80%;
  min-height: 55px;
  margin-left: 10px;
}
.arrow-left {
  width: 0;
  height: 0;
  border-bottom: 10px solid transparent;
  border-right: 10px solid;
  margin-top: 30px;
  padding-left: 5px;
}
.content {
  border: solid black;
  color: white;
  font-weight: bold;
  font-size: 1.25em;
  background: #1E90FF;
  text-align: left;
  padding: 10px;
  border-radius: 10px;
  min-width: 100px;
  max-width: 70vw;
  word-wrap: break-word;
}
.message-image {
  display: block;
  max-width: 100%;
}

@media only screen and (min-width: 640px) {
  .chat-container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .users-container {
    margin-right: 50px;
    order: -1;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px grey;
  }
  .messages-section {
    width: 50%;
  }
  .chat-form, .join-form {
    flex-direction: row;
  }
}
